        body {
            
            background-color: darkslategray;
        }
        p{
            font-size: 140%;
        }
        #btn-1 {
            background-color:slateblue;
            color:black;
            padding: 1%;
        }
        #input-name {
            font-size: 20px;
        }