.custom-shadow{
    box-shadow: 10px 10px 10px black;
}
html {
  scroll-behavior: smooth;
}
.gallery {
    display: flex;
    gap: 20px; 
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 180px;
    height: auto;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}


.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
}

.lightbox-img {
    max-width: 80%;
    max-height: 80vh;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
