
.row a p {
    color: rgb(3, 3, 3);
    transition: 0.2s;
}


.row a:hover p {
    color: #494848; 
}


#target-section:target ~ .container .row a[href="#target-section"] p,
#target-section2:target ~ .container .row a[href="#target-section2"] p,
#target-section3:target ~ .container .row a[href="#target-section3"] p,
#target-section4:target ~ .container .row a[href="#target-section4"] p {
    color: yellow; 
}
.custom-shadow{
    box-shadow: 10px 10px 10px black;
}
html {
  scroll-behavior: smooth;
}
.gallery {
    display: flex;
    gap: 20px; 
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: auto;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}


.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
}

.lightbox-img {
    max-width: 80%;
    max-height: 80vh;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
.gallery2 img  {
    width: 35%;
    height: auto;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.2s;
}
.gallery2 img:hover {
    transform: scale(1.02);
}
.lightbox2 {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
}

.lightbox-img2 {
    max-width: 80%;
    max-height: 80vh;
}

.close2 {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}